Validate and fix TXT and SPF record values

Currently the values for `TXT` and `SPF` records are not actually validated except for the checks imposed by running them through   the validation provided by `rdata.from_text()`. This proved both not enough and too much validation in practice and requires manual intervention in some cases. One of these cases came up in #269.

The restrictions applicable to `TXT` and `SPF` records are:
* The records only allow printable ASCII characters in their value [RFC4408, Section 3.1.1](https://datatracker.ietf.org/doc/html/rfc4408#section-3.1.1)
* The value can consist of one or more character strings with a maximum length of 255 characters (the 256th contains the length of the string) [RFC1035, Section 3.3](https://datatracker.ietf.org/doc/html/rfc1035#section-3.3)
* Character strings can be enclosed in double quotes if necessary. The quotes do not count against the maximum length. [RFC1035, Section 3.3](https://datatracker.ietf.org/doc/html/rfc1035#section-3.3)
* If multiple strings are passed, the effective value is the concatenation of these strings [RFC4408, Section 3.1.3](https://datatracker.ietf.org/doc/html/rfc4408#section-3.1.3)

`dnspython` performs part of the validation, but does not check the character set and does not have a mechanism to break up a record value into multiple strings if the length exceeds 255 characters. Therefore, some additional validation and a fixup mechanism is required to comfortably handle large `TXT` and `SPF` records. 

Breaking up a long value is tedious at best, and error prone on top of that, so an automatism is highly desirable. NetBox DNS should take that onus off the user.