Records in an RRSet can have inconsistent TTL values

I hate to always be waffling between bug and feature, but I have another.  In the case where DNS allows you to have multiple values for one record (like an A has 2 or 3 IP addresses), NetBox DNS allows you to set different TTLs for the different values.  As best I can tell this is invalid.  There will only be 1 TTL returned for 1 queried record of 3 different values.

I've seen different providers handle this differently in the UI.  Some have record > multiple values.  Others work like NetBox DNS and you create 2 records with the same name, but what happens is that when you save a record, whatever that TTL is overwrites all the others with the same name.  That might be easier to implement UI wise.  For example:

record.domain,com A 10.10.10.1 3600
record.domain,com A 10.10.10.2 3600
record.domain,com A 10.10.10.3 3600

Query returns:
10.10.10.1, 10.10.10.2, 10.10.10.3 / TTL: 3600

Now edit:
record.domain,com A 10.10.10.2

Set TTL to 7200.

Now records look like:
record.domain,com A 10.10.10.1 7200
record.domain,com A 10.10.10.2 7200
record.domain,com A 10.10.10.3 7200

Hi @squintfox, another good one, thanks!

Here, [RFC 2181, section 5.2](https://www.rfc-editor.org/rfc/rfc2181#section-5.2) applies:

> Consequently the use of differing TTLs in an RRSet is hereby deprecated, the TTLs of all RRs in an RRSet must be the same.

The interesting part is that having different TTLs for RRs in an RRSet is **deprecated**, not **forbidden**, so if we want to be nitpicking it's a feature request, not a bug report 🤓

Anyway, I'll think of a good way to solve this. Probably it's the best solution to deny creating RRSets with mixed TTLs but make the feature configurable so devious users can turn it off ... (and, by the way, make `enforce_unique_records` default to `True` as it falls into the same ballpark - though creating identical records isn't even deprecated, just pretty dubious).

This solution should be sufficient:

* We create a new configuration variable `enforce_unique_rrset_ttl`, which defaults to `True`. If set to `False`, the following restrictions are not applied, but by default they are.
* Creating a _new record_ with the same `zone`, `name`, `class` and `type` is disallowed and raises a `ValidationError`. This is done in the `clean()` method of the model, so it is enforced both in the API and in the GUI as well as for operations on model level (e.g. custom scripts).
* Changing the TTL of an _existing record_ changes the TTL for all records in the RRSet. This is done in `save()` for obvious reasons, with the same implications as above.
* For existing inconsistent data sets that were created before the above policy becomes enforced there is a management command `unify_rrset_ttl` that takes two options, `--min` and `--max`. This can be used on the CLI level to set the TTL for all all RRSets with inconsistent TTL to either the minimum or the maximum of the TTLs currently configured.

As far as I can see this should do - the restriction on new records and the changed behaviour for existing records ensure that the situation can't be created anymore (as long as `enfoce_unique_rrset_ttl` is `True`), and the management command can be used to fix existing data so that the restrictions ensure that the data stays consistent.

What do you think?

@peteeckel As usual, thanks for the detailed explanation.  No notes.  Sounds like a fantastic solution.