Domain names that can be interpreted as IPv4 addresses do not result in ValidationError

## Versions

NetBox Version: 4.2.2
NetBox DNS Version: 1.2.2
Python Version: 3.11.5

## Describe the bug

It is possible to add zone names that can be interpreted as IPv4 addresses. This is not permitted as per [RFC 1912, Section 2.1](https://datatracker.ietf.org/doc/html/rfc1912#section-2.1):

> You should also be careful to not have addresses which are valid
   alternate syntaxes to the inet_ntoa() library call.  For example 0xe
   is a valid name, but if you were to type "telnet 0xe", it would try
   to connect to IP address 0.0.0.14.

## To Reproduce

Steps to reproduce the behavior:
1. Try to create a zone, entering `10.0.0.1` or `0x0e` for 'name'.

## Expected result

Creating the zone is denied because the entry is not a valid DNS name.

## Actual result

The zone is created.