NetBox DNS incorrectly warns about a hidden primary server failing resolution

## Versions

NetBox Version: 4.5.5
NetBox DNS Version: 1.5.5
Python Version: 3.13.5

## Describe the bug

NetBox DNS warns about NS records that do not resolve, wich is correct. It does, however, also warn about entries in SOA MNAME that don't resolve. Resolvaility is, however, optional according to [RFC 1996, Section 2].(https://www.rfc-editor.org/rfc/rfc1996.html#section-2)

## To Reproduce

Steps to reproduce the behavior:

1. Create any zone `example.com` with a `SOA MNAME` entry within the same zone that doesn't resolve (e.g. `ns1.example.com`.
2. Go to the zone's detail view

## Expected result

<img width="482" height="158" alt="Image" src="https://github.com/user-attachments/assets/ff889de1-5480-467c-ba84-06514fea6e08" />

## Actual result

<img width="488" height="216" alt="Image" src="https://github.com/user-attachments/assets/eb09b2ef-70ee-435d-9c1b-094ba8cd3a33" />
