NSEC records should be allowed when a CNAME already exists

**Versions**
NetBox Version: 3.6.1
NetBox DNS Version: 0.19.3
Python Version: 3.9

**Describe the bug**
Unlike other record types, NSEC records are allowable when a CNAME exists for the given name. See [RFC4034 section 4](https://datatracker.ietf.org/doc/html/rfc4034#section-4)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CNAME record.
2. Attempt to create an NSEC record with the same name as the CNAME

**Expected result**
The record should be created

**Actual result**
The form shows the error
"There is already an active CNAME record for name _name_ in zone _zone_, no other record allowed."


Hi @sabo, thanks for raising this - you're obviously right. I'll look into it soon.

Hi @sabo, 0.19.4 is out now.

thanks for the amazingly quick fix!

You're welcome. It was pretty simple, most effort went into writing the tests for it :-)