Creation of Zones with a / is not possible

**Versions**
NetBox Version: 4.0.5
NetBox DNS Version: 1.0.2
Python Version: 3.12

**Describe the bug**
It is currently not possible to create an zone with a "/" in its name.

To quote the RFC2137 (https://datatracker.ietf.org/doc/html/rfc2317#section-4):

> Some DNS implementations are not kind to special characters in domain
   names, e.g. the "/" used in the above examples.  As [3] makes clear,
   these are legal, though some might feel unsightly.  Because these are
   not host names the restriction of [2] does not apply.  Modern clients
   and servers have an option to act in the liberal and correct fashion.

>  The examples here use "/" because it was felt to be more visible and
   pedantic reviewers felt that the 'these are not hostnames' argument
   needed to be repeated.  We advise you not to be so pedantic, and to
   not precisely copy the above examples, e.g.  substitute a more
   conservative character, such as hyphen, for "/".

Our network provider uses this naming scheme, so we cannot switch to a different one.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create the zone "0/25.2.0.192.in-addr.arpa.". This is a example Zone from the RFC2137. 

**Expected result**
It is possible to create zones with a '/' in it.

**Actual result**

The form gives the following error message: "0/25.2.0.192.in-addr.arpa. is not a valid DNS domain name". 


Hi @freym, you're right, this is in fact a valid use case.

Let me see how to integrate it in the best way - I think I'll add another `tolerate_` option to the plugin config.

This turns out to be more complicated than it looks. 

The naive approach is obviously to follow [RFC2181, Section 11](https://datatracker.ietf.org/doc/html/rfc2181#section-11) and allow basically any character in labels. Unfortunately, most name servers will barf very quickly when confronted with exotic record or zone names, so this may be correct in terms of RFC2181, but not in real life. We're trying to be helpful in creating usable DNS zone data, so this is definitely not the way to go.

The more cautious approach - and I think that should be the way forward - is to selectively allow characters required for a given purpose. `/` is already a pretty controversial choice, as many export scripts will create the names of the zone files from the names of the zone, and on Unix systems they are in for quite a surprise if they don't expect a `/` in a zone name. 

So the probable solution will be to create a new configuration variable `tolerate_characters_in_labels` that will take a string consisting of the tolerated characters, while keeping the existing, much more rigid, validation of labels in place.

Would that be useful to you? It would certainly cover the use case from RFC2317.